﻿@color-black-darker: #333333;
@color-black-dark: lighten(@color-black-darker, 13.6%);
@color-black: lighten(@color-black-dark, 13.5%);
@color-black-light: lighten(@color-black, 13.4%);
@color-black-lighter: lighten(@color-black-light, 13.4%);
@color-gray-darker: lighten(@color-black-lighter, 13.3%);
@color-gray-dark: lighten(@color-gray-darker, 6.5%);
@color-gray: lighten(@color-gray-dark, 1.5%);
@color-gray-light: lighten(@color-gray, 1.5%);
@color-gray-lighter: lighten(@color-gray-light, 1.5%);

@color-primary: #3388ff;
@color-success: #44cc11;
@color-info: #44ddee;
@color-warning: #ffcc22;
@color-danger: #ee2222;
@color-currency: #ff6600;
@color-error: #ee2222;