﻿.textellipsis() {
    display: -webkit-box;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.clear-both() {
    clear: both;
    display: block;
    content: '';
}

.opacity(@value) {
    filter: alpha(opacity=@value);
    opacity: @value/100;
}


.extension(@name, @value) {
    -webkit-@{name}: @value;
    -moz-@{name}: @value;
    -ms-@{name}: @value;
    -o-@{name}: @value;
    @{name}: @value;
}

.extension(@name, @value1, @value2) {
    -webkit-@{name}: @value1, @value2;
    -moz-@{name}: @value1, @value2;
    -ms-@{name}: @value1, @value2;
    -o-@{name}: @value1, @value2;
    @{name}: @value1, @value2;
}

.unselect() {
    .extension(touch-callout, none);
    .extension(user-select, none);
}

.radius(@value: 2px) {
    .extension(border-radius, @value);
}


.require(@name) {
    .@{name}:before {
        content: '*';
        color: @color-danger;
        font-weight: bold;
        margin-right: 3px;
    }
}

.keyframes (@name, @content) {
    @-webkit-keyframes
    @name

{
    @content
    ();
}

@-moz-keyframes
@name

{
    @content
    ();
}

@-ms-keyframes
@name

{
    @content
    ();
}

@-o-keyframes
@name

{
    @content
    ();
}

@keyframes
@name

{
    @content
    ();
}
}
